@using Microsoft.AspNetCore.Http;
@model IEnumerable<inter.Models.Produtos>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>

    <title>Catalogo</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          rel="stylesheet">

</head>

<body class="bg-light">

    <!-- NAVBAR -->

    <nav class="navbar navbar-dark shadow"
        style="background-color:#F15A24;">

        <div class="container-fluid">

            <span class="navbar-brand fw-bold fs-3">
                JOGAL
            </span>

            <div class="d-flex align-items-center me-4">

                <span class="text-white fw-semibold me-3">

                    Olá,
                    @Context.Session.GetString("usuario")

                </span>

                <a href="/Login"
                class="btn btn-light fw-bold">

                    Sair

                </a>

            </div>

        </div>

    </nav>
    
    </nav>

    <!-- CONTEÚDO -->
    <div class="container mt-5">

        <h1 class="fw-bold">
            Catálogo
        </h1>

        <p class="text-muted mb-5">
            Produtos disponíveis
        </p>

        @if (!Model.Any())
        {
            <div class="alert alert-warning text-center">

                Sem produtos disponíveis.

            </div>
        }
        else
        {
            <div class="row">

                @foreach(var produto in Model)
                {
                    <div class="col-md-3 mb-4">

                        <div class="card border-0 shadow h-100">

                            <img src="https://placehold.co/600x400/orange/white?text=JOGAL"
                                 class="card-img-top">

                            <div class="card-body">

                                <h5 class="fw-bold">
                                    @produto.Nome
                                </h5>

                                <hr />

                                <div class="d-flex justify-content-between">

                                    <span>
                                        Quantidade:
                                    </span>

                                    <strong>
                                        @produto.Qtd
                                    </strong>

                                </div>

                                <div class="d-flex justify-content-between mt-2">

                                    <span>
                                        Preço:
                                    </span>

                                    <strong style="color:#F15A24;">

                                        R$ @produto.Preco

                                    </strong>

                                </div>

                            </div>

                        </div>

                    </div>
                }

            </div>
        }

    </div>

</body>

</html>