
@model inter.Models.Produtos

<div class="container-fluid vh-100 d-flex justify-content-center align-items-center"
     style="
        background: linear-gradient(135deg, #F15A24, #F7931E);
     ">

    <div class="card border-0 shadow-lg p-4"
     style="
        width:400px;
        border-radius:24px;
        backdrop-filter: blur(10px);
     ">

        <div class="text-center mb-4">

            <img src="/logo/logo.jpg"
                    height="78"
                    class="rounded-2">

        </div>

        <form method="post" asp-action="Entrar">

            @if(ViewBag.Erro != null)
            {
                <div id="popupErro"
                    class="alert alert-danger shadow position-fixed top-0 end-0 m-4"
                    style="z-index:9999; min-width:300px;">

                    @ViewBag.Erro

                </div>
            }

            <div class="mb-3">

                <label class="form-label">
                    Email
                </label>

                <input type="email"
                       name="email"
                       class="form-control form-control-lg">

            </div>

            <div class="mb-4">

                <label class="form-label">
                    Senha
                </label>

                <input type="password"
                       name="senha"
                       class="form-control form-control-lg">

            </div>

            <button class="btn w-100 text-white"
                    style="background-color: #F15A24;">

                Entrar

            </button>

            <div class="text-center mt-4">

                <a href="/Login/Cadastro"
                class="text-blue fw-semibold text-decoration-none">

                    Criar conta

                </a>

            </div>

        </form>

    </div>

</div>

<script>

    setTimeout(() =>
    {
        let erro =
            document.getElementById("popupErro");

        if(erro)
        {
            erro.style.transition = "0.5s";
            erro.style.opacity = "0";

            setTimeout(() =>
            {
                erro.remove();
            }, 500);
        }

    }, 5000);

</script>